node-linker=hoisted
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=@react-native/*
public-hoist-pattern[]=@expo/*
never-built-dependencies=tiny-secp256k1,bigint-buffer
strict-ssl=true
manage-package-manager-versions=false
